<div class="container mt-5">
  <p class="text-center">© 2020 Copyright - Generation</p>
  <div class="d-flex justify-content-center">
    <a href="#" class="icoFacebook">
      <fa-icon [icon]="faFacebook" class="faFacebook fa-3x p-3"></fa-icon>
    </a>
    <a href="#" class="icoInstagram">
      <fa-icon [icon]="faInstagram" class="faInstagram fa-3x p-3"></fa-icon>
    </a>
    <a href="#" class="icoYoutube">
      <fa-icon [icon]="faYoutube" class="faYoutube fa-3x p-3"></fa-icon>
    </a>
    <a href="#" class="icoTwitter">
      <fa-icon [icon]="faTwitter" class="faTwitter fa-3x p-3"></fa-icon>
    </a>
  </div>
</div>